{% extends 'base.html' %}

{% block title %}<h1>Movie Title</h1>{% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-success" role="alert">
  <ul class="messages" style="none">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
</div>

{% endif %}

<h3>{{ movies.title }}</h3>
<a  href="{% url 'list_movies' %}" class="btn btn-secondary btn-lg active" role="button">Back</a>



{% endblock %}
