
<h1>Movie List</h1>
<button type="button" name="create_movie"><a href="{% url 'create_movie' %}">add</a></button>


<ul>
  {% for movie in movies %}

  <li>{{ movie.title }} |
    <button type="button" name="view_movies"><a href="{% url 'detail_movies' movie.id %}">view</a></button> |
    <button type="button" name="update_movie"><a href="{% url 'update_movie' movie.id %}">edit</a></button> |
    <button type="button" name="delete_movie"><a href="{% url 'delete_movie' movie.id %}">delete</a></button> |
  </li>

  {% endfor %}
</ul>
